/* # for id */
/* . for class */

/* for testing */
/*  border-width: 10px;
    border-color: black;
    border-style: solid; */
    
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
    
#content {
    max-width: 1600px;
    margin: 0 auto;
}

header {
    background-color: #f9ed76;
    display: grid;
    grid-template-columns: 150px auto;
}

nav {
    display: flex;
    justify-content: space-around;
}

nav a {
    text-align: center;
    color: #4d0018;
    text-decoration: none;
    padding: 45px;
    font-size: 1.3em;
}

nav a:hover {
    background-color: #4d0018;
    color: #f976bd;
}

#dragon_fancy_interaction {
    justify-self: center;
    align-self: center;
}

/* .dragon_logo_link {
    justify-self: center;
    align-self: center;
} */
/* the above is redundant? */

.dragon_logo {
    height: 80px;
    width: 80px;
}
/* need to somehow overlap the two images and only one shows at a time, with one having a lower z orientation and the second having 0 opacity until hovered over. */

/* .dragon_hover {
    height: 80px;
    width: 80px;
} */

/* Need to credit the following site for the code help. https://www.w3schools.com/howto/howto_js_slideshow_gallery.asp */
/* Image slider css  */
* {
  box-sizing: border-box;
}

/* Position the image container (needed to position the left and right arrows) */
.scroll_slider {
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.bottom_row:after {
  content: "";
  display: table;
  clear: both;
}

/* 5 columns side by side at a time */
.column {
  float: left;
  width: 20%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}









