body{
    height:100vh;
    width: 100vw;
    background-color: black;
    margin: 0rem;
    /* will need to check what the v means and what the rem means */
    overflow: hidden;
}

#image_slider_track {
    display: flex;
    gap: 4vmin;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(0%, -50%);
    user-select: none; /* Prevent image highlighting */
}

#image_slider_track .image {
    width: 40vmin;
    height: 56vmin;
    object-fit: cover; /* not sure what this does, will look into it*/
    object-position: 100% center;
}

/* credit to Hyperplexed for the guide */